.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  /*background-color: #f5f5f5;*/

  margin: auto;
}

.circles {
  width: 323px;
  height: 12px;
  flex-shrink: 0;

  margin-bottom: 36px;
}

.main h1 {
  color: #000;
  font-family: "Pretendard", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0 0 1rem 0;
}

.main h2 {
  color: #000;
  font-family: "Pretendard", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0 0 1rem 0;

  margin-bottom: 36px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  margin-top: 36px;
}

.description p:nth-child(1) {
  color: #000;
  font-family: "Pretendard";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  transform: rotate(3.973deg);
}

.exampleVideo {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  flex-shrink: 0;

  z-index: -1;
}

.description p:nth-child(3) {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  transform: rotate(1.467deg);
}

.description div {
  width: 1px;
  height: 31px;

  background: #000;
}

.description p:nth-child(4) {
  color: #f00;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

  transform: rotate(-3.776deg);
}

.uglyButton {
  border-radius: 48px;
  border: 4px solid #000;
  background: #fff;

  width: 280px;
  height: 80px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 48px;
}

.uglyButton:hover {
  background: #000;
  color: #fff;
}

.main p {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
